* {
  margin:0;
}

body {
  background-color: #f5f6fa;
}

.app{
  display:flex;
  justify-content: space-evenly;
  padding:20px;
}

.app__header{
  display:flex;
  align-items:center;
  margin-bottom:20px;
  justify-content:space-between;
}

.app__left {
  flex:0.9;
}

.app__stats{
  display:flex;
  justify-content:space-between;
}

.infoBox{
  margin: 10px;
  padding-right:100px;
}

@media (max-width:1000px) {
  .app{
    flex-direction:column;
  }
}